p{
    color: white;
    font-family: "Open Sans", serif;
    font-size: 15px;/* le texte est décalé d 15px*/
    text-indent: 15px;
    background-color: dodgerblue;
    padding: 20px;
    width: 30%;

}